
p{
  font-family: arial;
  font-weight: bold;
}

p1{
  display: inline;
  margin: 0;
  padding: 0;
}

header{
  width: 260px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 40px;
}

button{
  background-color: #2a609a;
	width: 130px;
	height: 60px;
  color: white;
  outline: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



#userInputWO {

margin-left: 60px;
margin-top: 15px;


}

block-display button{
  margin-bottom:5px;
  display:block;
}

button:hover{
  background-color: #32CD32;
  font-size: 20px;
  transition: 0.5s;
}